{%extends "navbar.html" %}

{% block body %}
<div class="row">
  <div class="col-3">
    <div class="container bg-outline" style="border: 5px black;">
  <h3>Finance</h3>

    </div>
  </div>
    <div class="col-9">
         <div id="chartContainer" style="height: 300px; width: 100%;">
             <section>
                <h2>Heatmap</h2>
                 <img src="{{ url_for('static', filename = 'pic/myimage.jpg') }}" alt="Plot Chart">
            </section>
        </div>
    </div>
  </div>
    {% endblock %}
<!-- TradingView Widget END -->