{% extends "navbar.html" %}

{% block body%}

  <h3>Top 5 Stocks</h3>
<h1>Your top performing stocks in your portfolio</h1>
<div class="row m-1">
    {% for row in s_data %}

        <div class="col-12 col-md-4 my-3 ">
             <a href="/static/{{row[1]}}" style="width: 25rem; text-decoration: none;">
             <div class="card" style="border.radius: 10px;">
                <div class="card-body" style="background-color: #686ce9; color: black;box-shadow: #200c4e 10px 10px 6px; border-radius: 10px;  ">
                <p class="card-title">
                <h4 style="text-align: center;">
                   {{row[1]}}
                </h4>

                </p>
                <p class="card-text">Previous close  : {{row[3]}}</p>
                <p class="card-text">Predicted Price : {{ row[4] }}%</p>
                {% if  row[2] == 'POSITIVE' %}
                     <p class="card-text">Sentiment : <i class="bi bi-caret-up-fill" style="color: green;"></i></p>
                {% else %}
                    <p class="card-text">Sentiement : <i class="bi bi-caret-down-fill" style="color: red;"></i></p>
                {% endif %}
            </div>
        </div>
                 </a>
        </div>
     {% endfor %}
</div>

{% endblock %}